/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
    font-family:'Open Sans' ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
}
.portion {
    flex: 1;
}
.athird {
    width: 33%;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

/* header start */
.header-main {
    background-color:#fff;
    box-shadow: 0px 4px 20px #0000001a;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.header-div {
    padding: 0 2rem;
    align-items: center;
    height: 60px;
}
.ul-item {
    margin-left: 350px;
    gap: 25px;
}
.li-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    align-items:center;
    
}
.tel {
    padding: 8px;
    width: 160px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.li-item:hover {
    color: #ccc;
    border-bottom: 2px black solid;
}
.li-item:active {
    background-color: #191919b3;
    color: #fff;
}

.tel:hover{
    background-color: #fff;
    color: #00BAFC;
    border: 2px #00BAFC solid;
}
.tel:active {
    color: white;
    background-color: #6fd0f4;
}
/* header end */

/* biznes start  */

.sec-biznes {
    height: 420px;
}
.portion {
    margin: 60px 0 50px 60px;
}
.biz-title {
    width: 470px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    padding-top: 50px;
    color: #000000;
}
.biz-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;
    color: #000000;
}
.biz-link {
    padding: 8px;
    width: 160px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.biz-link:hover {
    background-color: #fff;
    color: #00BAFC;
    border: 2px #00BAFC solid;
}
.biz-link:active{
    color: white;
    background-color: #6fd0f4;
}
.img-yt {
    position: relative;
    margin: 100px 50px 0;
    padding-left: 180px;
}
.yt-btn {
    position: absolute;
    right: 160px;
    top: 80px;
}
/*  biznes end */

/* xizmatlar strat */
.xizmatlar-title {
    display: flex;
    justify-content: center;
    margin:30px 0 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.xizmatlar-text {
    margin-left: 300px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 719px;
    height: 48px;
}

.xizmatlar-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.li-box{
    margin: 25px;
    width: 360px;
    height: 280px;
    padding: 60px;
    box-shadow: 0px 8px 8px #0000001a;
    text-align: center;
}
.li-box:hover {
    box-shadow: 0px 14px 21px #0000001a;
}
.li-box:active{
    box-shadow: 0 6px 20px #0000003a ;
}
.box-title {
    padding: 5px 0 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.box-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}
.xizmatlar-box2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.box-btn1 {
    padding: 8px;
    width: 160px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border:transparent;
}
.box-btn1:hover {
    background-color: #fff;
    color: #00BAFC;
    border: 2px #00BAFC solid;
}
.box-btn1:active{
    color: white;
    background-color: #6fd0f4;
}
.box-linkl {
    display: flex;
    align-items:center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.box-linkl:hover {
    color :#00BAFC;
    border-bottom: 2px solid aqua;
}
.box-linkl:active{
    background-color:#666060;
    color: black;
}

.biz-head {
    text-align: center;
    padding: 10px;
    margin: 40px 0;
}
.bizqanday-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
}
.bizqanday-text {
    width: 719px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-left: 280px;
}

.sec-biz-qanday-ishlaymiz {
    width: 800px;
    margin-left: 200px;
}
.xizmat-inside {
    margin: 100px 0 50px;
    padding-left: 30px;
}
.sec-biz-qanday-ishlaymiz-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.sec-biz-qanday-ishlaymiz-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.sec-biz-qanday-ishlaymiz2 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 250px;
    padding-top: 40px;
    gap: 100px;
}
.sec-biz-qanday-ishlaymiz3 {
    margin-left: 200px;
    padding-top: 100px;
}
.flex3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.biz-qanday-ishlaymiz4-img {
    margin-left: 60px;
}
.qanday-ishlaymiz-img {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 180px;
}
.qanday-ishlaymiz-matn {
    padding: 110px 0 0 40px;
}

/* xizmatlar end */

/* buturtma berish start */

.buyurtma {
    background-color: #00BAFC;
    height: 543px;
}
.buyurtma-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #fff;
    padding: 40px 0 20px;
}
.buturtma-text {
    margin: 0 auto;
    padding: 10px 0 25px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 70%;
    text-align: center;
    color: #fff;
}
.buyurtma-form {
    width: 348px;
    height: 304px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 5px;
}

.buyurtma-input {
    width: 300px;
height: 56px;
background: #F3F3F3;
border-radius: 5px;
border: transparent;
padding:12px;
margin: 8px;
font-family: 'Open Sans';
font-weight:400 ;
font-size: 16px;
color: black;
}

/* buturtma berish end */

/* footer start */
footer {
    background-color: #000;
    color:#fff;
}
.the-end {
    height: 338px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;

}
.footer-titlle {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding:0 0 20px 40px ;
}
.footer-text {
    width: 320px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
padding-left: 40px;
}

.footer-ul-title {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-bottom: 20px;
}
.footer-li {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
padding: 5px;
}
.footer-li:hover {
    color: #00BAFC;
}
.footer-li:active{
color: #6dd0f5;
}

.footer--title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-bottom: 20px;
}
.footer-p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
padding: 6px;
}
.footer-div {
    display: flex;
    align-items: center;
    padding: 5px;
}
.footer-p:hover {
    color: #00BAFC;
}
.footer-p:active {
    color: #6dd0f5;
}

/* footer end */